<table id="choices"> 
     <tr>
         <td><input type="checkbox" class="case"></td>
         <td><span id='snum'>1.</span></td>
         <td>Choice</td>
         <td><textarea id='question_options'></textarea></td>
     </tr>
</table>
<button class="add-choice">Add Row </button>
<button class="remove-choice">Remove Row </button>